In [1]:
from fastai.collab import *
from fastai.tabular.all import *

In [4]:
path = untar_data(URLs.ML_100k, archive = 'D:\FastAi_Data')

In [5]:
path

Path('C:/Users/adima/.fastai/data/ml-100k')

In [6]:
rating = pd.read_csv(path/'u.data', delimiter='\t', header=None,
                      names=['user','movie','rating','timestamp'])
movies = pd.read_csv(path/'u.item',  delimiter='|', encoding='latin-1',
                     usecols=(0,1), names=('movie','title'), header=None)

In [156]:
rating.head()

   user  movie  rating  timestamp
0   196    242       3  881250949
1   186    302       3  891717742
2    22    377       1  878887116
3   244     51       2  880606923
4   166    346       1  886397596

In [179]:
## getting top 10 most active users

user_group = rating.groupby('user', sort=True).count()

In [180]:
user_index = user_group.sort_values(by='rating',ascending=False).index[:10].tolist()

In [181]:
user_index

[405, 655, 13, 450, 276, 416, 537, 303, 234, 393]

In [183]:
## getting top 10 most rated movie
movie_group = rating.groupby('movie', sort=True).count()

In [184]:
movie_index = movie_group.sort_values(by='rating',ascending=False).index[:10].tolist()

In [185]:
movie_index

[50, 258, 100, 181, 294, 286, 288, 1, 300, 121]

In [182]:
movies.head()

   movie              title
0      1   Toy Story (1995)
1      2   GoldenEye (1995)
2      3  Four Rooms (1995)
3      4  Get Shorty (1995)
4      5     Copycat (1995)

In [186]:
crosstab = pd.crosstab(rating[rating.user.isin(user_index)].user,rating[rating.movie.isin(movie_index)].movie,values=rating['rating'],aggfunc= 'mean').fillna(" ")

In [187]:
crosstab

movie  1    50   100  121  181  258  286  288  294  300
user
13     3.0  5.0  5.0  5.0  5.0  4.0  3.0  1.0  2.0  1.0
234    3.0  4.0  4.0       3.0  2.0  3.0  3.0  3.0  3.0
276    5.0  5.0  5.0  4.0  5.0  5.0       4.0  4.0  4.0
303    5.0  5.0  5.0  3.0  5.0  4.0  5.0  4.0  4.0  1.0
393    3.0  5.0  1.0  4.0  4.0  4.0       3.0  4.0
405         5.0            5.0            5.0
416    5.0  5.0  5.0  5.0  5.0  5.0  5.0  5.0  4.0  4.0
450    4.0  5.0  4.0  3.0  4.0  4.0  4.0  3.0  4.0  4.0
537    2.0  4.0  4.0  1.0  2.0  4.0  3.0  2.0  1.0  1.0
655    2.0  4.0  3.0  3.0  3.0  2.0  3.0  3.0  3.0  3.0